body {
    max-width: 400px;
    margin: 0 auto;
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
    background-color: #15202B;
}

#container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.cardTitle {
    width: 130px;
    margin: 0;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    color: #8899A6;
}

.price {
    width: 130px;
    text-align: left;
    font-size: 22px;
    font-weight: bold;
}

.bidAskContainer {
    margin-top: 10px;
    width: 200px;
    display: flex;
    justify-content: space-around;
}

.bidAskItem {
    
}

.bidAskItem-title {
    font-size: 12px;
    font-weight: bold;
}

.bidAskItem-price {
    font-size: 14px;
    font-weight: bold;
}

/* Colors */
.coinbaseColor {
    color: #1554f0;
}

.krakenColor {
    color: #5848d5;
}

.bitstampColor {
    color: #159e49;
}